[submodule "debian-setup"]
	path = debian-setup
	url = ../debian-setup2
[submodule "init-instroot"]
	path = init-instroot
	url = ../init-instroot
[submodule "system-setup-tests"]
	path = tests
	url = ../system-setup-tests
